body {
    font-style: italic;
    font-size: larger;
    background-color: whitesmoke
    
  }
  label {
    display: -moz-box;
    margin-bottom: 5px;
    font-weight:bold;
   }
   select{
    font-weight: bold;
   }
 